:root{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: rgb(243, 231, 226);
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    height: inherit;
    width: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 650px;
}
#box1{
    box-sizing: border-box;
    
}
#box2{
    padding: 20px;
    background-color: #fff;
}

@media(max-width:900px){
    :root{
        margin: 0;
        padding: 0;
        height: 100vh;
        background-color: rgb(243, 231, 226);
    }
    #container{
        display: grid;
        grid-template-columns: repeat(auto-fill, 500 ,1fr);
    }
    #image img{
        height: 600px;
        width: 400px;
    }
    #Product{
        width: 400px;
        height: 500px;
    }
    
}
